@inherits LayoutComponentBase

<div class="page">
    <header class="top-bar">
        <h3>Almaviva Slot Checker</h3>
        <nav>
            <a href="/">Проверка слотов</a>
            <a href="/login">Логин</a>
        </nav>
    </header>

    <main>
        @Body
    </main>
</div>
